*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}

#logo-navbar{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;

}



#navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(125,166,106,0.2);
    /* box-shadow: 1px 1px 1px black; */
}

#fluid-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}



body{
    background-color: rgba(242,242,242,0.01);

}

#container-letras{
    height:400px;
    width: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#logo-letras{
    height: 150px;
    width: 250px;

}



#container-logo-serpent{
    height:400px;
    width: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#cont-all{
    height: 100vh;
}



#svg{
    width: 400px;
    height:400px;
}

#intro-row{
    height: 580px;


}
#section-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}




#footer1{
    padding: 20px;
    background-color: black;
    color: white;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0px;
}



#button-container{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.button-welcome{
    background-color: #592542;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border-color: black;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #592542;


}
.button-welcome:hover{
    background-color: #593945;
    border-color: #593945;
}

#acceder-button{
    color: white;

}




#logo-serpents-only{
    animation: logo-serpents-only 20s infinite linear;
    transform-origin: center;
    transform-box: fill-box;


}

@keyframes logo-serpents-only{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}